<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Resume 23</title>
  <link rel="stylesheet" href="styles3.css">
</head>
<style>
    h3{
  color: #a9294f;
}

</style>
<body style="background-color: #d3e0ea"

>



  <form class="" action="" method="post">
    <table cellspacing="20">
      <tr>
        <td><textarea placeholder="Your Name" rows="2" cols="40"></textarea></td>
        <tr>
          <td><textarea placeholder="Your Email" rows="2" cols="72"></textarea></td>
        </tr>
        <tr>
            <td> <textarea placeholder="Your Mob No." rows="2" cols="20"></textarea></td>
        </tr>


      </tr>
      <tr>
        <td> <textarea placeholder="Designation" rows="2" cols="40"></textarea></td>
      </tr>
    </table>
    <h3><strong>&nbsp&nbsp&nbsp&nbspCAREER OBJECTIVE:</strong></h3>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<textarea placeholder="Tell about your objective" rows="8" cols="150"></textarea>




    <h3><strong>&nbsp&nbsp&nbsp&nbspACADEMIC QUALIFICATION:</strong></h3>
    <table cellspacing="20">
      <tr>
        <td>&nbsp&nbsp<textarea placeholder="Qualification" rows="2" cols="20"></textarea></td>
        <td><textarea placeholder="Institution" rows="2" cols="30"></textarea></td>
        <td><textarea placeholder="University/Board" rows="2" cols="20"></textarea></td>
        <td><textarea placeholder="Year of Passing" rows="2" cols="30"></textarea></td>
        <td><textarea placeholder="Percentage" rows="2" cols="20"></textarea></td>
      </tr>
      <tr>
        <td>&nbsp&nbsp<textarea placeholder="Qualification" rows="2" cols="20"></textarea></td>
        <td><textarea placeholder="Institution" rows="2" cols="30"></textarea></td>
        <td><textarea placeholder="University/Board" rows="2" cols="20"></textarea></td>
        <td><textarea placeholder="Year of Passing" rows="2" cols="30"></textarea></td>
        <td><textarea placeholder="Percentage" rows="2" cols="20"></textarea></td>
      </tr>
      <tr>
        <td>&nbsp&nbsp<textarea placeholder="Qualification" rows="2" cols="20"></textarea></td>
        <td><textarea placeholder="Institution" rows="2" cols="30"></textarea></td>
        <td><textarea placeholder="University/Board" rows="2" cols="20"></textarea></td>
        <td><textarea placeholder="Year of Passing" rows="2" cols="30"></textarea></td>
        <td><textarea placeholder="Percentage" rows="2" cols="20"></textarea></td>
      </tr>
    </table>



    <h3><strong>&nbsp&nbsp&nbsp&nbspPERSONAL PROFILE :</strong></h3>
    <table>
      <tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <strong> Father Name </td>
        <td>:-</td>
        <td><input type="text" name="Fname" value=""></td>
      </tr>
      <tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <strong> Date of Birth</td>
        <td>:-</td>
        <td><input type="text" name="DOBs" value=""></td>
      </tr>
      <tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <strong> Marital Status</td>
        <td>:-</td>
        <td><input type="text" name="MS" value=""></td>
      </tr>
      <tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <strong>Gender</td>
        <td>:-</td>
        <td><input type="text" name="Gender" value=""></td>
      </tr>
      <tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <strong> Religion </td>
        <td>:-</td>
        <td><input type="text" name="	Religion" value=""></td>
      </tr>
      <tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <strong> Nationality </td>
        <td>:-</td>
        <td><input type="text" name="	Nation" value=""></td>
      </tr>
    </table>
    <h3><strong>&nbsp&nbsp&nbsp&nbspDECLARATION:</strong></h3>
    <div class="">
      &nbsp&nbsp&nbsp&nbsp&nbspI hereby declare that the details above are correct and true to the best of my knowledge.
    </div><br><br>
    <tr>
      <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <strong> Place </td>
      <td>:-</td>
      <td><input type="text" name="	place" value=""></td>
    </tr><br><br>
    <tr>
      <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <strong> Date </td>
      <td>:-</td>
      <td><input type="text" name="	date" value=""></td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <td><textarea placeholder="Name/Sign" rows="1" cols="20"></textarea></td>
    </tr>
    </table>


  </form>

</body>

</html>
