<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Resume 22</title>
  <!-- <link rel="stylesheet" href="css/styles1.css"> -->
</head>
<style>
  body{
    background: url(images/wbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
  }
  .fle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.btna
{
  color: green;
  width: 89px;
  height: 37px;
  background-color:black;
  font-size: 18px;
  margin-left: 15px;
  border-radius: 5px;
}
</style>
<body >
  


  <form class="" action="/template8.html" method="post">
    <table cellspacing="20">
      <tr>
        <td><textarea name="name" placeholder="Your Name" rows="2" cols="40"></textarea></td>
        <td><textarea name="email" placeholder="Your Email" rows="2" cols="72"></textarea></td>
        <td> <textarea name="phonenumber" placeholder="Your Mob No." rows="2" cols="20"></textarea></td>
      </tr>
      <tr>
        <td> <textarea name="designation" placeholder="Designation" rows="2" cols="40"></textarea></td>
      </tr>
    </table>
    <h3><strong>&nbsp&nbsp&nbsp&nbspPROFILE:</strong></h3>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<textarea name="your_objective" placeholder="Tell about your objective" rows="8" cols="150"></textarea>


    <h3><strong>&nbsp&nbsp&nbsp&nbspEMPLOYMENT HISTORY: </strong></h3>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<textarea class="SubH" name="Job1" placeholder="Marketing Manager,Reliance Telecommunication" rows="2" cols="50"></textarea> <br>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<textarea class="Designation" name="Duration1" placeholder="NOV 2015-FEB 2021,PUNE" rows="1" cols="40"></textarea> <br><br>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp✔<textarea name="experience1_description" placeholder="Your conclusion of past work in points" rows="3" cols="150"></textarea><br>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp✔<textarea placeholder name="desc1_1" rows="3" cols="150"></textarea><br>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp✔<textarea placeholder name="desc1_2" rows="3" cols="150"></textarea><br><br><br>

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<textarea name="Job2" placeholder="Online Marketing Consultant,FREELANCE" rows="2" cols="50"></textarea> <br>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<textarea class="Designation" name="Duration2" placeholder="SEP 2013-NOV 2015,MUMBAI" rows="1" cols="40"></textarea> <br><br>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp✔<textarea name="experience2_description" placeholder="Your conclusion of past work in points" rows="3" cols="150"></textarea><br>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp✔<textarea placeholder name="desc2_1" rows="3" cols="150"></textarea><br>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp✔<textarea placeholder name="desc2_2" rows="3" cols="150"></textarea><br><br><br>

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<textarea name="Job3" placeholder="Sales and Marketing Director,Technocrats Printing Lab" rows="2" cols="50"></textarea> <br>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<textarea class="Designation" name="Duration3" placeholder="JULY 2011-AUG 2013,NOIDA" rows="1" cols="40"></textarea> <br><br>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp✔<textarea name="experience3_description" placeholder="Your conclusion of past work in points" rows="3" cols="150"></textarea><br>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp✔<textarea placeholder name="desc3_1" rows="3" cols="150"></textarea><br>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp✔<textarea placeholder name="desc3_2" rows="3" cols="150"></textarea><br><br><br>

    <h3><strong>&nbsp&nbsp&nbsp&nbspEDUCATION: </strong></h3>

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<textarea name="College" placeholder="Indian Insttute of Technology,Madras" rows="2" cols="50"></textarea> <br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<textarea class="Designation" name="Duration4" placeholder="JUNE 2007-JUNE 2011,MADRAS" rows="1" cols="40"></textarea> <br><br>

        <div class="fle">
          <input type="submit" class="btna" name="button" value="Submit">
          <input type="reset" class="btna" name="reset" value="Reset">
        </div>

  </form>

</body>

</html>
