<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Resume3</title>
</head>
<style>
  .fle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.btna
{
  color: green;
  width: 89px;
  height: 37px;
  background-color:black;
  font-size: 18px;
  margin-left: 15px;
  border-radius: 5px;
}
</style>
<body style="background-color: #EAF6F6">
  <!-- <div style="wbg.jpg"> -->
  <!-- <table>
      <tr>
        <td>
          <form class="" action="" method="post">
            <label>Your Name</label>
            <input type="text" name="YourName" value="">
          </form>
          </td>
          <td>
            <form class="" action="" method="post">
              <label>Your Email</label>
              <input type="email" name="YourEmail" value="">
            </form>
          </td>
          <td>
            <form class="" action="" method="post">
              <label>Your Mob No.</label>
              <input type="text" name="YourMob" value="">
            </form>
          </td>
      </tr>
    </table> -->

  <form class="" action="/template3.html" method="post">
    <table cellspacing="20">
      <tr>
        <td><textarea name="name" placeholder="Your Name" rows="2" cols="40"></textarea></td>
        <td><textarea name="email" placeholder="Your Email" rows="2" cols="72"></textarea></td>
        <td> <textarea name="phone" placeholder="Your Mob No." rows="2" cols="20"></textarea></td>
      </tr>
      <tr>
        <td> <textarea name="designation" placeholder="Designation" rows="2" cols="40"></textarea></td>
      </tr>
    </table>
    <h3><strong>&nbsp&nbsp&nbsp&nbspCAREER OBJECTIVE:</strong></h3>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<textarea name="your_objective" placeholder="Tell about your objective" rows="8" cols="150"></textarea>


    <h3><strong>&nbsp&nbsp&nbsp&nbspEXECUTIVE SUMMARY:</strong></h3>
    &nbsp&nbsp&nbsp&nbsp&nbsp✔<textarea name="experience" placeholder="Your conclusion of past work in points" rows="3" cols="150"></textarea><br>
    &nbsp&nbsp&nbsp&nbsp&nbsp✔<textarea name="exp_descp" placeholder rows="3" cols="150"></textarea><br>
    &nbsp&nbsp&nbsp&nbsp&nbsp✔<textarea name="exp1_descp" placeholder rows="3" cols="150"></textarea><br>

    <h3><strong>&nbsp&nbsp&nbsp&nbspPROFESSIONAL EXPERIENCE:</strong></h3>
    <table cellspacing="20">
      <tr>
        <td>&nbsp&nbsp<textarea name="company1_name" placeholder="Company 1 Name" rows="2" cols="20"></textarea></td>
        <td><textarea name="company1_designation" placeholder="Designation" rows="2" cols="30"></textarea></td>
        <td><textarea name="company1_duration" placeholder="Duration" rows="2" cols="20"></textarea></td>
      </tr>
      <tr>
        <td>&nbsp&nbsp<textarea name="company2_name" placeholder="Company 1 Name" rows="2" cols="20"></textarea></td>
        <td><textarea name="company2_designation"placeholder="Designation" rows="2" cols="30"></textarea></td>
        <td><textarea name="company2_duration"placeholder="Duration" rows="2" cols="20"></textarea></td>
      </tr>
    </table>

    <h3><strong>&nbsp&nbsp&nbsp&nbspEDUCATION:</strong></h3>
    <table>
      <td>&nbsp&nbsp&nbsp&nbsp&nbsp<textarea name="degree" placeholder="Degree Name" rows="2" cols="20"></textarea></td>
      <td><textarea name="collegename" placeholder="College Name" rows="2" cols="50"></textarea></td>
      <td><textarea name="percentage" placeholder="Percentage/CGPA" rows="2" cols="20"></textarea></td>
    </table>

    <h3><strong>&nbsp&nbsp&nbsp&nbspTECHNICAL PROFICIENCIES:</strong></h3>
    <table>
      <tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp <strong> Programming Languages </td>
        <td>:-</td>
        <td><input type="text" name="ProgrammingLang" value=""></td>
      </tr>
      <tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp <strong> Database</td>
        <td>:-</td>
        <td><input type="text" name="DBs" value=""></td>
      </tr>
      <tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp <strong> Operating System </td>
        <td>:-</td>
        <td><input type="text" name="OS" value=""></td>
      </tr>
      <tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp <strong> Web Technologie</td>
        <td>:-</td>
        <td><input type="text" name="WebTech" value=""></td>
      </tr>
      <tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp <strong> Ide’s </td>
        <td>:-</td>
        <td><input type="text" name="	Ides" value=""></td>
      </tr>
    </table>
    <h3><strong>&nbsp&nbsp&nbsp&nbspPROJECTS:</strong></h3>
    <table>
      <tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp <strong>Project Name</strong></td>
        <td>:-</td>
        <td><textarea name="projectname" placeholder="your project name" rows="1" cols="50"></textarea></td>

      </tr>
      <tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp <strong>Project Description</strong></td>
        <td>:-</td>
        <td><textarea name="project_description" placeholder="project description" rows="1" cols="50"></textarea></td>
      </tr>
      <tr>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp <strong>Technology</strong></td>
        <td>:-</td>
        <td><textarea name="technology" placeholder="technology" rows="1" cols="50"></textarea></td>

      </tr>
    </table>
    <!-- &nbsp&nbsp&nbsp&nbsp&nbsp <strong>Project Name:-</strong><textarea placeholder rows="1" cols="50"></textarea><br>
    &nbsp&nbsp&nbsp&nbsp&nbsp <strong>Project Description:-</strong><textarea placeholder rows="1" cols="50"></textarea><br>
    &nbsp&nbsp&nbsp&nbsp&nbsp <strong>Technology:-</strong><textarea placeholder rows="1" cols="50"></textarea><br><br><br>

-->
<div class="fle">
  <input type="submit" class="btna" name="button" value="Submit">
  <input type="reset" class="btna" name="reset" value="Reset">
</div>
  </form>

</body>

</html>
